.faqs {
    padding: 30px 0;
}
@media (min-width: 768px){
    .faqs {
        padding: 30px 20px;
    }
}

.container {
    margin: 0 auto;
    padding: 0 25px;
}
@media (min-width: 768px){
    .container {
        width: 750px;
        padding: 0;
        margin: 0 auto;
    }
}
@media (min-width: 992px){
    .container {
        width: 970px;
        padding: 0;
        margin: 0 auto;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
        padding: 0;
        margin: 0 auto;
    }
}

.faqs__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 29px;
    margin: 68px 0 48px;
    text-align: left;
}
@media(min-width: 768px){
    .faqs__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 29px;
        margin: 68px 0 48px;
        text-align: left;
    }
}
.faqs__list {
    margin-top: 30px;
}
@media(min-width: 768px){
    .faqs__list {
        margin-top: 30px;
    }
}

.faq {
    box-shadow: 5px 0 15px #0000001A;
    padding: 25px 10px 25px 40px;
    border-radius: 6px;
    margin-bottom: 25px;
}

.faqs details>summary {
    list-style: none;
}
.faq[open] {
    box-shadow: 5px 10px 15px #0000001A;
}
@media(min-width: 768px){
    .faq[open] {
        box-shadow: 5px 10px 15px #0000001A;
    }
}


.faq__title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    display: block;
    position: relative;
    cursor: pointer;
}
.faq__title::before {
    content: '';
    position: absolute;
    top: calc(50% - 8px);
    left: -25px;
    width: 0;
    height: 0;
    border-top: 10px solid #37474f;
    border-right: 10px solid transparent;
    transform: rotate(135deg);
    transition: transform .25s;
}
.faq__title1 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    display: block;
    position: relative;
    cursor: pointer;
}
.faq__title1::before {
    content: '';
    position: absolute;
    top: calc(50% - 8px);
    left: -25px;
    width: 0;
    height: 0;
    border-top: 10px solid #37474f;
    border-right: 10px solid transparent;
    transform: rotate(225deg);
    transition: transform .25s;
}

.faq__text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
}
@media(min-width: 768px){
    .faq__text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 18px;
    }
<<<<<<< HEAD
}
=======
}













>>>>>>> 92bef32c64c08fcb489b2f2174f7776c8093c9f8
