.top_wrap h1 {
  font-size: 40px;
  line-height: 40px;
  font-family: Cabin, Arial, Sans-Serif;
  font-weight: 500;
  margin-bottom: 6px;
}
.top_wrap {
  width: 1170px;
  margin: 5px auto;
}
.top_wrap p {
  font-size: 16px;
  line-height: 21px;
  font-family: Cabin, Arial, Sans-Serif;
  margin-bottom: 14px;
}
.top_wrap ul span img {
  width: 15px;
}
.top_wrap ul span li {
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: Cabin, Arial, Sans-Serif;
}
.top_wrap span {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 12px;
}
