.page_nav{
    height:56px;
    background-color: #e0f5ff;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 4px 0px inset;
    width:100%;
}
.page_nav_link{
    width: 1097px;
    margin:auto;
}
.page_nav_link ul li a{
    border:1px solid #e1e1ec;;
    height:50px;
    border-radius:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    min-width: 200px;
    text-align: center;
    box-sizing: border-box;
    color:#1d69a7;
}
.page_nav_link ul li a:hover{
    border-color: #1d69a7;
    box-shadow: 0 0 6px rgb(0 0 0 / 15%);
    text-decoration: underline;   
}
  .active{font-weight: 700;
    border-color: #1d69a7;
    box-shadow: 0 0 6px rgb(0 0 0 / 15%);
    text-decoration: underline;   
}

.page_nav_link ul{
    display:flex;
    justify-content: space-between;
    width:900px;
    margin:auto;
    margin-top: -25px;
}